@import "./colors";
@import "./mixins.scss";

.home {
  background-color: $black;
  overflow-x: hidden;
}
.landingContainer {
  background-image: url("../public/compressed/landing-page-banner.png");

  // background-image: url("../public/landingBg.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.heading1 {
  font-weight: 300;
  font-size: 5.21vw;
  line-height: 5.9vw;
  letter-spacing: 0.05em;
  font-family: "Outfit", sans-serif;
}

// Specially created for 2nd page heading
.heading2Text {
  position: absolute;
  left: 13.89vw;
  top: 8.89vw;
  width: 48vw;
  font-size: 3.34vw;
  line-height: 3.475vw;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.9);
}

.heading2 {
  font-size: 2.778vw;
  line-height: 3.473vw;
  font-weight: 600;
  font-family: Outfit;
  font-style: normal;
}

.heading3 {
  font-family: Outfit;
  font-size: 2.223vw;
  font-style: normal;
  font-weight: 400;
  line-height: 4.167vw;
  color: rgba(251, 251, 251, 0.9);
}

.heading1,
.heading2 {
  // color: $white;
  color: rgba(255, 255, 255, 0.9);
}

.readMoreText {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.5rem;
  color: rgba(251, 251, 251, 1);
  margin-bottom: 20px;
  margin-left: auto;
  padding-right: 5px;
}

.para {
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: rgba(243, 243, 243, 1);
}

.darkLayer {
  // background-color: rgba(0, 0, 0, 0.767);
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
}

.landingPage {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;

  // margin-bottom: 6rem;
  padding-bottom: 6rem;
  .heading1 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 65vw;
    b {
      // font-family: "Outer";
      font-style: normal;
      font-weight: 700;
      font-size: 5.21vw;
      line-height: 5.9vw;
      color: rgba(255, 255, 255, 0.9);
    }
    // margin: auto;
  }

  .mainText {
    gap: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
  }

  .landingText {
    font-family: Inter;
    font-style: normal;
    // margin: auto;
    width: 50.5vw;
    font-weight: 500;
    font-size: 1.67vw;
    line-height: 2.78vw;
    color: rgba(251, 251, 251, 0.8);
  }
  .readMore {
    width: fit-content;
    // width: 9vw;
    height: 4.7rem;
    color: #fbfbfb;
    // margin: auto;
  }

  .homeBtnContainer {
    display: flex;
    gap: 3rem;
  }
}

// balck box section styling

.balckBoxContainer {
  background-image: url("../public/Group.png");
  background-size: contain;
  min-height: 100vh;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
  justify-content: space-evenly;
  position: relative;
  overflow-x: hidden;

  .heading1 {
    z-index: 5;
    width: 60%;
  }

  .chokidarImg {
    position: absolute;
    width: 62.9rem;
    height: 46.4rem;
    right: -24rem;
    user-select: none;
    z-index: 2;
  }

  .balckBoxIconList {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    // display: flex;
    // justify-content: space-between;
    gap: 6.74vw;
    width: 65vw;
    z-index: 5;
    margin: 10.42vw 0 0 8.06vw;
    overflow-x: scroll;
    // position: absolute;
    // padding: 0 20px;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .backBoxListText {
    width: 15.98vw;
    font-family: Inter;
    font-style: normal;
    font-size: 1.39vw;
    font-weight: 600;
    line-height: 1.67vw;
    color: rgba(255, 255, 255, 0.8);
  }

  .blackBoxListDescription {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.112vw;
    line-height: 1.32vw;
    color: #f3f3f3cc;
  }

  .blackBoxIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    &:first-child {
      .balckBoxIconImg {
        // height: 80px;
        width: 100px;
        img {
          width: 110px !important;
        }
      }
    }
  }

  .balckBoxIconImg {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

// revolution through change container
.revolutionaCotainer {
  // background-color: $black;
  margin-top: 33px;
  text-align: center;
  // min-height: 100vh;

  .heading2 {
    width: 40%;
    margin: auto;
    color: rgba(251, 251, 251, 0.9);
  }

  .revolutionList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 10%;
    display: flex;
    align-items: baseline;
  }

  .revolutionItemText {
    color: $white;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 5rem;
    text-align: center;
  }
  .revolutionItemImg {
    position: relative;

    .imgGlow {
      position: absolute;
      left: 30%;
      width: 110px;
      height: 110px;
      background-color: rgba(35, 156, 124, 0.6);
      border: 3px solid rgba(251, 251, 251, 0.05);
      filter: blur(60px);
    }
  }

  .revolutionCardSubHeading {
    font-size: 2rem;
    line-height: 5rem;
    font-weight: 600;
  }

  .revolutionCard {
    width: 76%;
    margin: 3rem auto;
    position: relative;
    overflow: hidden;

    border-radius: 1rem;
    @include glassCard;

    .circle1,
    .circle2,
    .circle3 {
      position: absolute;
      width: 18rem;
      height: 38rem;
      @include glowCircle;
      z-index: 5;
    }

    .circle1 {
      left: 172px;
      top: -274px;
    }

    .circle2 {
      left: -7.6rem;
      top: 18.8rem;
      // background: rgba(35, 156, 124, 0.6);
      // bottom: 0;
    }
    .circle3 {
      width: 14.9rem;
      height: 14.9rem;
      right: -8rem;
      top: 9rem;
      filter: blur(50px);
    }

    .revolutionCardList {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      // align-items: center;
      padding: 3rem 0 0;
      // padding-bottom: 0;
      // z-index: 9;
      overflow-x: auto;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        width: 0;
      }
      transition: 0.2s;
      transform-origin: right top;
      .revolutionCardItem {
        // min-width: 300px;
        // min-width: 27.25%;
        // max-width: 500px;
        // min-height: 250px;
        // max-height: 250px;
        // border-radius: 16px;
        display: flex;
        flex-direction: column;
        // padding: 1.5rem;
        // margin: 1.4rem 3.2rem 0;
        transition: 0.2s;
        transform-origin: right top;
        padding: 0.695vw;
        z-index: 9;
      }
      // .revolutionCardItem:hover {
      //   transform: translateY(-1rem);
      // }
      .readMoreText {
        padding: auto;
      }
    }
  }

  .revolutionCardSubHeading,
  .revolutionCardText {
    font-family: Inter;
    padding-top: 1.5rem;
    font-size: 1.39vw;
    line-height: 1.67vw;
    color: #f3f3f3cc;
  }

  .revolutionCardSubHeading {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.67vw;
    line-height: 2.015vw;
  }

  .revolutionCardText {
    padding-top: 1.5rem;
  }
}

.revolutionAtomImg {
  animation: spin 2.5s linear infinite;
  width: fit-content;
  margin: auto;
  border-radius: 100%;
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Protokollo section
.protokolloContiner {
  position: relative;
  // background-color: $black;
  text-align: center;
  margin: 7.143vw;

  .protokolloBg1 {
    position: absolute;
    width: 75.9rem;
    height: 36.3rem;
    left: 74.9rem;
    top: 8rem;
    background-image: url("../public/toppng_1.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .protokolloBg2 {
    position: absolute;
    width: 75.9rem;
    height: 36.3rem;
    left: -27.2rem;
    bottom: 20.5rem;
    background: url("../public/toppng_2.png");
    background-image: url("../public/toppng_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
  }

  .protokolloSummary {
    padding-top: 3rem;
    padding-bottom: 3.9rem;
    width: 48.5%;
    margin: auto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(251, 251, 251, 0.8);
  }

  .protocolList {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: auto;
    padding-top: 6rem;
  }

  .protocolItemText {
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: justified;
    color: $white;
    margin-top: 2rem;
    opacity: 0.5;
  }
}

.aditionalProtoKollo {
  .carouselBtn {
    display: none;
  }
  .aditionalProtoKolloBgImg {
    background-image: url("../public/compressed/banner-home-AI-and-fusion-min.png");
    background-repeat: no-repeat;
    background-size: cover;
    // min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .aditionalProtoKolloLeft,
  .aditionalProtoKolloRight {
    width: 36%;
    min-height: 100%;
    background: rgba(7, 7, 7, 0.8);
    padding: 3.4rem 3.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .readMoreText {
    text-align: right;
    width: fit-content;
  }
}

// Case Studies section

.caseStudies {
  min-height: 100vh;
  // background-color: $black;
  text-align: center;
  padding-top: 10rem;

  .heading2 {
    line-height: 5rem;
  }
  .cardList {
    display: flex;
    justify-content: space-between;
    padding: 3.9rem 5.4rem;

    .cardItem {
      width: 42.7rem;
      height: 42.7rem;

      // background: rgba(15, 15, 15, 0.5);
      // border-radius: 10px;

      .caseStudiesCard {
        position: relative;
        background-color: gray;
        font-family: Inter;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 5rem;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
        padding: 5rem;
        @include centralized;
      }

      .cardImg3 {
        background-image: url("../public/soldier-using-virtual-tablet-hologram-army-technology_1.png");
        background-repeat: no-repeat;
        background-size: contain;
      }
      .cardImg1 {
        background-image: url("../public/coast.png");
      }
      .cardImg2 {
        background-image: url("../public/interior-view-steel-factory_1.png");
      }
    }
  }
}

.networkingContainer {
  .networkingText {
    width: 45%;

    .heading2 {
      font-weight: 700;
    }

    .heading3 {
      font-family: "Inter";
      font-weight: 700;
      font-size: 3rem;
      line-height: 4.5rem;
      color: rgba(251, 251, 251, 0.8);
    }
  }
  .networking {
    position: relative;
    // background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding-top: 6rem;
    z-index: 10;

    .readMore {
      width: fit-content;
      height: 4.7rem;
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 3.5rem;
      color: rgba(251, 251, 251, 1);
    }

    .globeBg {
      z-index: -9;
      position: absolute;
      width: 58.2rem;
      height: 58.2rem;
      top: 0;
      background-image: url("../public/icons/globe.svg");
    }

    .colorFade {
      position: absolute;
      height: 62.5vw;
      width: 62.5vw;
      left: -17.5vw;
      top: 6.12vw;
      z-index: -10;
      background: rgba(35, 156, 124, 0.9);
      border: 3px solid rgba(251, 251, 251, 0.05);
      box-sizing: border-box;
      filter: blur(600px);
    }
  }
}

.dNone {
  display: flex;
}

.landingBreak {
  display: none;
}

@media screen and (max-width: 1032px) {
  .landingBreak {
    display: block;
  }
  .dNone {
    display: none !important;
  }

  .landingContainer {
    height: 666px;
    // .heading1,
    // .landingText,
    .readMore {
      width: unset;
      margin: unset;
    }

    // .heading1 {
    //   font-size: 40px;
    //   line-height: 50px;
    // }

    // .landingText {
    //   max-width: unset;
    //   padding-left: 4rem;
    //   padding-right: 4rem;
    //   font-size: 24px;
    //   line-height: 34px;
    // }

    .landingPage {
      height: 100%;
      justify-content: center;
      gap: 9rem;
    }
  }

  .balckBoxContainer {
    // background-position: center;
    // background-repeat: no-repeat;
    // justify-content: space-evenly;
    // min-height: 295px;
    // .heading1 {
    //   font-size: 30px;
    //   line-height: unset;
    //   width: 73%;
    // }

    .chokidarImg {
      opacity: 0.95;
      width: 193px;
      height: 135px;
      right: -80px;
    }
    .balckBoxIconList {
      // flex-direction: column;

      // .backBoxListText {
      //   font-size: 14px;
      // }

      .blackBoxIcon {
        &:first-child {
          .balckBoxIconImg {
            // height: 80px;
            // width: 79px;
            img {
              width: 50px !important;
            }
          }
        }
      }
      .balckBoxIconImg {
        width: 50px;
        margin-bottom: 10px;
      }
      // width: unset;

      // overflow-x: scroll;
      // &::-webkit-scrollbar {
      //   width: 2px;
      // }
      // gap: 5rem;
    }
  }

  .revolutionCard {
    padding: 1rem 1rem;

    margin: 0 1rem;

    .readMoreText {
      span {
        font-size: 3rem !important;
      }
    }
  }

  .revolutionList,
  .revolutionCardList {
    display: block;
    float: left;
    flex: 33.33%;
    width: unset;
    // padding: 10rem 6rem !important;
    gap: 5rem;
    justify-content: flex-start;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    .revolutionItemText {
      line-height: unset;
      margin-top: 10px;
    }
  }

  // .revolutionCardText {
  //   font-size: 14px !important;
  //   line-height: 20px !important;
  // }
  // .revolutionCardSubHeading {
  //   font-size: 3rem !important;
  // }

  // .revolutionCardList {
  //   padding: 0 3rem !important;
  //   padding-top: 10px !important;
  //   flex-direction: column;
  //   margin-bottom: 8rem;
  //   .revolutionCardImage {
  //     width: 49px;
  //     margin: auto;
  //   }
  // }

  .revolutionaCotainer {
    margin: unset;
    margin-top: 33px;
    .heading2 {
      width: 60%;
      margin: auto;
    }
  }

  .revolutionItem {
    width: fit-content;
  }

  .networkingContainer {
    .networkingText {
      width: 75%;
    }
    .networking {
      flex-direction: column;
      min-height: unset;

      .heading2,
      .heading3,
      .readMore {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
      }

      .heading3 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: "Inter";
        width: 80%;
        margin: auto;
      }

      .heading3 {
        opacity: 0.8;
      }

      .readMore {
        width: unset;
        height: unset;
        font-weight: 500;
      }
    }
    .networkingText {
      flex: 0.2;
      height: fit-content;
      padding-bottom: 4rem;
      .readMore {
        width: fit-content;
        margin: 0 auto;
      }

      .globeBg {
        background-size: contain;
        background-position: center;
      }
    }
    .networkingImg {
      width: 25rem;
      overflow: hidden;
    }
  }

  .protokolloContiner {
    .heading3 {
      font-size: 16px;
    }
    .protokolloBg1 {
      left: unset;
      right: 0;
    }
    .protokolloBg1,
    .protokolloBg2 {
      opacity: 0.5;
    }
    .protokolloSummary {
      width: unset;
      padding-left: 4rem;
      padding-right: 4rem;
      font-size: 14px;
    }

    .protocolList {
      width: 100%;
      justify-content: space-between;
      padding: 3rem;
      gap: 4rem;
    }
  }
  .aditionalProtoKollo {
    margin-bottom: 5rem;
    .carouselBtn {
      display: flex;
      justify-content: center;
      svg {
        font-size: 25px;
      }
    }
    .aditionalProtoKolloBgImg {
      min-height: 70vh;
      background-position: center;
    }

    .aditionalProtoKolloRight {
      display: none;
    }

    .aditionalProtoKolloLeftImg {
      margin: auto;
      padding-bottom: 4rem;
      order: -1;
    }

    .aditionalProtoKolloLeft,
    .aditionalProtoKolloRight {
      // display: none;
      width: unset;
      justify-content: center;

      // width: 36%;
      min-height: 100%;
      background: unset;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 45%,
        rgba(0, 0, 0, 0.692) 0%
      );
      // background-size: 200px 200px;
      background-position: bottom;
      padding: 3.4rem 3.6rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading2,
      .para.readMore {
        text-align: center;
      }

      .para {
        font-size: 3rem;
        text-align: center;
        color: #f3f3f3;
        line-height: unset;
        margin: 3rem 0;
      }

      .readMoreText {
        text-align: center;
        font-size: 3.5rem;
        font-family: Inter;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .revolutionList {
    gap: 80px;
  }

  .revolutionItemImg {
    position: relative;
    width: 49px;
    margin: auto;
    img {
      height: 49px !important;
    }

    .imgGlow {
      position: absolute;
      left: -30% !important;
      width: 60px;
      height: 60px;
      background-color: rgba(35, 156, 124, 0.6);
      border: 3px solid rgba(251, 251, 251, 0.05);
      filter: blur(60px);
    }
  }

  .protocolImg {
    width: 13.5vw;
    margin: auto;
    height: 13.5vw;
  }

  .protocolItemText {
    font-size: 14px !important;
  }
}

@media screen and (min-width: 773px) and (max-width: 1328px) {
  .balckBoxContainer {
    .heading1 {
      width: 70%;
      font-size: 55px;
    }

    // .balckBoxIconList {
    //   .backBoxListText {
    //     font-size: 25px;
    //   }
    // }
  }
}

.border,
.active {
  background-color: transparent;
  width: 5rem;
  height: 5px;

  border-radius: 5.5px;
  transition: 0.3s box-shadow;

  cursor: pointer;

  background: rgba(217, 217, 217, 0.2);
  // box-shadow: 0px 7px 45px 10px rgba(169, 255, 233, 0.4);
}

.active {
  background: #ffffff;
}

.activeBarContainer {
  margin: auto;
  width: 11rem;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.7rem;
}

.techSecWrapper {
  margin: 0 7.9862vw;
}

.technologiesContainer {
  display: flex;
  gap: 5rem;
  height: 31.7362vw;
  margin: 5rem 0 0;
}

.technologiesList {
  // display: grid;
  // grid-auto-flow: column;
  // grid-auto-columns: 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38.2vw;
  gap: 2vw;
  z-index: 5;
  // overflow-x: scroll;
  // padding: 0 20px;
  // &::-webkit-scrollbar {
  //   width: 0;
  // }
}

.technologies {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.technologyIconImg {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;

  span {
    width: 60px;
    height: 60px;
  }
}

.techInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.techInfoSubHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1.528vw;
  line-height: 1.875vw;
  color: rgba(255, 255, 255, 0.8);
}

.techInfoText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.528vw;

  color: rgba(243, 243, 243, 0.8);
}

.detectionGifContainer {
  width: 42.362vw;
  background: rgba(0, 0, 0, 0.1);

  span {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
  }
}

.offeringsSecWrapper {
  margin: 6.945vw 7.9862vw;

  .heading2 {
    // width: 40%;
    margin: auto;
    color: rgba(251, 251, 251, 0.9);
    text-align: center;
    line-height: 6rem;
  }
}

.offeringsContainer {
  margin: 3.4723vw 0 0 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.389vw;
}

.offeringItem {
  display: flex;
  // align-items: center;
  justify-content: center;
  gap: 2.0834vw;
  background: #171717;
  border-radius: 10px;
  padding: 2.639vw 3.1945vw 2.7084vw;
}

.offeringItem:hover {
  background: rgba(1, 143, 106, 0.85);
  box-shadow: 0px 2px 45px 2px rgba(169, 255, 233, 0.4);
  border-radius: 10px;
}

.offeringIcon {
  min-width: 50px;
  min-height: 50px;
}

.offeringInfoHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.528vw;
  margin-bottom: 0.6945vw;

  color: rgba(255, 255, 255, 0.8);
}

.offeringInfoText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.528vw;

  color: rgba(243, 243, 243, 0.8);
}

.partnersSecWrapper {
  margin: 0 11.5rem;

  .heading2 {
    // width: 40%;
    margin: auto;
    color: rgba(251, 251, 251, 0.9);
    text-align: center;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 6rem;
  }
}

.partnersList {
  display: flex;
  margin: 3rem auto 12rem;
  align-items: center;
  justify-content: space-around;
  gap: 0.695vw;
}

.offeringsImg {
  display: flex;
  width: 6.945vw;
  height: 6.945vw;
  margin: auto;
  background-color: #018f6ad9;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  div {
    width: 50%;
    // height: 50%;
  }
}

.offeringsList {
  width: 73%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
  padding-top: 3.125vw;
}

.offeringItemText {
  font-family: Inter;
  font-size: 1.667vw;
  font-style: normal;
  font-weight: 600;
  line-height: 2.0134vw;
  letter-spacing: 0em;
  text-align: justified;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0.695vw;
}

.ourTechsHeading {
  font-size: 2.778vw;
  line-height: 3.473vw;
  font-weight: 700;
  font-family: Outfit;
  font-style: normal;
  color: #fbfbfb;
}

.aditionalProtoKollo .heading2 {
  margin: 3.9rem auto 1.6rem;
  font-weight: 600;
  font-size: 4rem;
  line-height: 5rem;
  color: rgba(243, 243, 243, 1);
  // text-align: center;
}

.caseStudySecWrapper {
  .heading2 {
    margin: 10rem auto 4rem;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    text-align: center;
    color: rgba(251, 251, 251, 1);
  }
}

.caseStudiesImgContainer {
  display: flex;
  margin: auto auto 11rem;
  // min-height: 100vh;
  gap: 1.389vw;
  justify-content: space-around;
}

.caseStudyImg {
  position: relative;
  text-align: center;
}

.caseStudyImg span {
  background: rgba(15, 15, 15, 0.5);
}

.textOnImage {
  // position: absolute;
  // top: 25%;
  // bottom: 25%;
  // left: 25%;
  // right: 25%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 5rem;
  // text-align: center;
  color: rgba(251, 251, 251, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.revolutionCardImage {
  color: rgba(255, 255, 255, 1);
  z-index: 5;
}

.rec.rec-arrow {
  z-index: 5;
}

//  ----------------------------------------------------------------- //
//                      MEDIA QURIES                                  //
//  ----------------------------------------------------------------- //

@media screen and (max-width: 772px) {
  .balckBoxContainer {
    min-height: 300px;
  }

  .blackBoxListDescription {
    display: none;
  }

  .offeringsList {
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 12px;
  }

  .offeringsImg {
    width: 50px;
    height: 50px;
    div {
      width: 50%;
      height: 50%;
    }
  }

  .offeringInfoHeading {
    font-size: 12px;
    line-height: 15px;
  }

  // .revolutionaCotainer {
  //   .revolutionCard {
  //     .revolutionCardList {
  //       .revolutionCardItem {
  //         min-width: 300px;
  //       }
  //     }
  //   }
  // }

  .revolutionCardImage {
    width: 40px;
    height: 40px;
  }
  .revolutionCardItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .technologiesContainer {
    flex-direction: column-reverse;
    height: auto;
  }

  .techInfoText {
    display: none;
  }

  .technologiesList {
    flex-direction: row;
    width: auto;
  }

  .technologies {
    flex-direction: column;
  }

  .detectionGifContainer {
    width: auto;
  }

  .technologyIconImg {
    width: auto;
    height: auto;
  }

  .offeringsSecWrapper {
    margin: 0 auto;
    width: 80%;
  }

  .offeringInfoText {
    display: none;
  }

  .offeringItem {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .offeringIcon {
    width: auto;
    height: auto;
  }

  .offeringInfoHeading {
    text-align: center;
  }

  .techSecWrapper {
    min-height: auto;
    margin: 0 11.5rem 10rem;
  }

  .offeringsSecWrapper {
    margin-bottom: 10rem;
    min-height: auto;
  }

  .partnersList {
    margin-bottom: 8rem;
  }

  .activeBarContainer {
    display: none;
  }
}

@media screen and (max-width: 414px) {
  .home {
    .heading2 {
      font-size: 5.8vw;
      line-height: 7.25vw;
    }
  }

  .landingContainer .heading1 {
    font-size: 7.25vw;
    line-height: 9.2vw;
    width: 90.5vw;

    b {
      font-weight: 700;
      font-size: 7.25vw;
      line-height: 9.2vw;
    }
  }

  .landingContainer .landingText {
    width: 81.5vw;
    font-weight: 500;
    font-size: 3.87vw;
    line-height: 5.8vw;
  }

  .heading2Text {
    position: relative;
    left: 7rem;
    top: 5.5rem;
    width: 60%;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    text-align: left;
  }

  .balckBoxContainer {
    .balckBoxIconList {
      margin: 0 auto;
      width: 75vw;
    }

    .backBoxListText {
      font-size: 2.89vw;
      line-height: 3.623vw;
    }

    .blackBoxIcon,
    .balckBoxIconList {
      gap: 0;
    }
  }

  .revolutionCardImage {
    width: 30px;
    height: 30px;
  }

  .revolutionaCotainer {
    .revolutionCardSubHeading {
      font-size: 3.39vw;
      line-height: 4.11vw;
    }

    .revolutionCardText {
      font-size: 2.899vw;
      line-height: 3.625vw;
    }

    .revolutionCard {
      width: 68.5%;
    }
  }

  .ourTechsHeading {
    font-size: 5.8vw;
    line-height: 12.08vw;
  }

  .offeringsList {
    width: 90%;
  }

  .offeringsImg {
    width: 50px;
    height: 50px;
    div {
      width: 50%;
      height: 50%;
    }
  }

  .technologiesList {
    width: 90%;
  }

  .technologyIconImg {
    min-width: auto;
    max-width: 50px !important;
    height: 50px;
  }

  .techInfoSubHeading {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .technologies {
    align-items: center;
    gap: 1rem;
    width: 20vw;
  }

  .technologiesList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .textOnImage {
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (min-width: 1441px) {
  // .aditionalProtoKollo {
  //   .aditionalProtoKolloBgImg {
  //     // min-height: auto;
  //     margin: 0 0.06945vw;
  //   }
  // }

  .home {
    .heading2Text {
      left: 200px;
      top: 128px;
      width: 48vw;
      font-size: 3.34vw;
      line-height: 3.475vw;
    }
  }

  .balckBoxContainer {
    .balckBoxIconList {
      margin: 150px 0 0 116px;
      gap: 100px;
    }
  }
}
