.container {
  display: flex;
  color: black;
  height: 100vh;
}

.formHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  // font-family: "Source Sans Pro";
  font-style: normal;
  color: rgba(18, 18, 18, 1);
}

.label {
  // margin-top: 18px;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Source Sans Pro";
  color: rgba(18, 18, 18, 0.8);
}

.form {
  background-color: #fff;
}

.formContainer {
  width: 31.25vw;
  min-width: 265px;
  margin: auto 10.278vw auto 6.7362vw;
  // padding: 5rem 0;
}

.iconAndFormContainer {
  display: flex;
}

.backIconContainer {
  padding: 8px 1.7362vw 0;
  cursor: pointer;
}

.formSection {
  flex-grow: 1;
  // padding: 5rem 0;
  // padding: 5rem 0;
}

.iconAndFormContainer {
  display: flex;
}

.backIconContainer {
  padding: 8px 1.7362vw 0;
  cursor: pointer;
}

.formSection {
  flex-grow: 1;
}

.form,
.info {
  flex: 1;
}
.field {
  margin-bottom: 14.5px;
  // margin-bottom: 25px;
}
.header {
  padding: 40px 40px 50px;
  .logo {
    cursor: pointer;
  }
  width: fit-content;
}
.fields {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.radioField {
  display: flex;
  justify-content: space-between;

  .radioOptions {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
  }

  .fieldLabelText {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    // line-height: 30px;
    color: rgba(46, 48, 52, 0.4);
  }
  .radioIcon {
    color: rgba(46, 48, 52, 0.4);
  }
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.info {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #018f6ad9;
  background-image: url("../public/green-dotted-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  // width: 80%;
  height: 526px;
  display: flex;
  align-items: center;
}

.para {
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: center;
  width: 499px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.heading {
  font-family: Source Sans Pro;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}

.countryDrop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(46, 48, 52, 0.4);

  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  .cLeft {
    display: flex;
    gap: 17px;
  }
}

.selfInvite {
  display: flex;
  flex-direction: row !important;

  .img {
    width: 299px;
    height: 578px;
    padding: 3rem;
  }

  .text {
    flex: 0.5;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .header {
    text-align: center;
    margin: auto;
    padding: 22px;
  }

  .info {
    // padding-top: 34px;
    min-height: 450px;
    justify-content: center;
    flex: unset;
  }
  .formContainer {
    margin: auto;
  }

  .img {
    width: 70%;
    height: 158px;
  }

  .phoneImg {
    img {
      width: 123px !important;
      height: 239px !important;
    }
    display: flex;
    justify-content: center;
  }

  .selfInvite {
    padding: 0 28px;
    .phoneImg,
    .text {
      flex: 1;
    }

    .text {
      .para {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .para {
    width: unset;
    padding: 10px 17px;
  }

  .form {
    order: 2;
    flex: unset;
  }
  .formContainer {
    padding: 27px 5px;
    .formHeader {
      align-items: center;
    }
  }

  .radioIcon {
    svg {
      font-size: 20px;
    }
  }
}
.successMessage {
  display: block;
  width: 100%;
  position: relative;
  padding: 1rem 1rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
  font-size: 14px;
  text-align: center;
  bottom: 20px;
}

.errorMessage {
  display: block;
  width: 100%;
  // position: relative;
  // padding: 2px;
  // margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
  font-size: 12px;
  // bottom: 20px;
}

.successContainer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #f5f5f5;
}

.success {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 30vw;
  width: 39.167vw;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 15px;

  .successIcon {
    // margin: 5.42vw auto 1.06vw auto !important;
    margin: 78px auto 16px auto !important;
  }

  h2 {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    // font-size: 2.084vw;
    // line-height: 2.084vw;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 40px;
  }

  p {
    width: 25vw;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 67px;
    color: rgba(0, 0, 0, 0.8);
  }

  button {
    margin-bottom: 57px;
  }
}

@media screen and (max-width: 600px) {
  .success {
    width: 90vw;

    p {
      width: unset;
      margin: auto 5vw 67px;
    }
  }
}
